@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100dvh;
}

body.dark {
    background: #1C1B22;
    color: white;
}

h1 {
    margin-top: 10px;
}

h2 {
    margin-top: 20px;
    font-weight: 400;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blahaj {
    display: flex;
    align-items: center;
    flex-direction: column;

    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    transition: transform .12s;

}

.blahaj > div {
    width: 400px;
    height: 500px;
    background-image: url(/public/assets/lucas.png);
    background-size: cover;
}

.blahaj.bump {
    animation: bump .18s ease-out;
}

@keyframes bump {
    0%   { transform: scale(1); }
    45%  { transform: scale(1.06); }
    100% { transform: scale(1); }
}

#footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
}

body.dark #footer .info a {
    color: white;
}

body #footer .info a {
    color: black;
    text-decoration-style: dotted;
}

body #footer .info a:hover {
    text-decoration-style: solid;
}

#error {
    color: red;
}

#mode {
    cursor: pointer;
    background: transparent;
    width: 50px;
    height: 50px;

    border: none;
    outline: none;

    position: absolute;
    top: 10px;
    left: 10px;
}

#mode > div {
    background: url(/lucide/moon.svg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

body.dark #mode > div {
    background: url(/lucide/sun.svg?color=white);
    background-repeat: no-repeat;
    background-size: cover;
}

.progress {
    margin-top: 10px;
    width: 200px;
    height: 20px;
    background: #525252;
    border-radius: 10px;

    padding: 4px;
}

.progress .value {
    background: white;
    border-radius: 10px;
    width: 50%;
    height: 100%;
}
